#landing-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 5em;
}

#landing-article {
  margin: 2em 0;
  max-width: 320px;
}

#landing-article p {
  text-align: justify;
  text-justify: inter-word;
}

@media only screen and (min-width: 600px) {
  #landing-article {
    max-width:100%;
  }
}

@media only screen and (min-width: 768px) {
  #landing-container {
    padding: 10em 10em 5em 10em;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
  }
  #landing-article {
    max-width: 460px;
  }
}